<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>GPS2Track Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/grails.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/mobile.css" rel="stylesheet"/>
    <link href="css/application.css" rel="stylesheet"/>
    <link href="images/favicon.ico" rel="icon" type="image/x-ico"/>
    <meta name="layout" content="main"/>
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa grails-icon">
                    <img src="images/icon.svg"/>
                </i> <b>GPS2Track</b>
            </a>
        </div>
        <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/reportes">Reportes</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rutas<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mostrar rutas</a></li>
                        <li><a href="#">Rutas cr&iacuteticas</a></li>
                        <li><a href="#">Registro/eliminaci&oacuten de rutas</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locaciones<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mostrar locaciones</a></li>
                        <li><a href="#">Puntos de mayor concurrencia</a></li>
                        <li><a href="#">Registro/eliminaci&oacuten de locaciones</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registro<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Trabajador</a></li>
                        <li><a href="/dispositivo">Dispositivo</a></li>
                        <li><a href="/asignacion">Asignaciones</a></li>
                        <li><a href="#">Secciones</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="footer" role="contentinfo"></div>

<div id="spinner" class="spinner" style="display:none;">
    Loading&hellip;
</div>
<!-- JavaScript -->
<script src="webjars/jquery/2.2.0/jquery.min.js" type="application/javascript"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js" type="application/javascript"></script>
<script src="js/application.js" type="application/javascript"></script>

</body>
</html>
<!-- Ejemplos -->
<!-- Check box
                <div class="form-group">
                    <label class="col-sm-2 control-label">Active</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" th:field="*{active}"/>
                            </label>
                        </div>
                    </div>
                </div> -->
<!-- Texto grande
                <div class="form-group">
                    <label class="col-sm-2 control-label">Body</label>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="5" th:field="*{body}">body</textarea>
                    </div>
                </div>-->
