<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <!--/*@thymesVar id="pageTitle" type="String"*/-->
    <title th:text="${pageTitle}">Nueva Asignación</title>
    <object th:include="@{fragments/head} :: head" th:remove="tag"/>
</head>
<body>
    <div th:replace="@{fragments/header} :: header">GPS2Track Application</div>
    <div class="nav" role="navigation">
        <ul>
            <li><a th:href="@{/asignacion}" class="list">Listado Asignaciones</a></li>
        </ul>
    </div>
    <div id="create-asignacion" class="content scaffold-create" role="main">
        <h1>Nueva Asignación</h1>
        <form class="form-horizontal" th:object="${assignment}" th:action="@{/asignacion/save}" method="post">
            <fieldset class="form">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{version}"/>
                <div class="fieldcontain" th:classappend="${#fields.hasErrors('employee')}? 'has-error'">
                    <label>Trabajador&nbsp;</label>
                    <select id="trabajadorSel" th:field="*{employee}">
                        <option th:each="employee : ${employees}" th:value="${employee.rut}" th:text="${employee.getRutFormat() + ': ' + employee.names + ' ' + employee.pSurName}">Trabajador</option>
                    </select>
                    <span class="error-span" th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}">Empleado Erróneo</span>
                </div>
                <div class="fieldcontain" th:classappend="${#fields.hasErrors('device')}? 'has-error'">
                    <label>Dispositivo&nbsp;</label>
                    <select id="sectionSel" th:field="*{device}">
                        <option th:each="device : ${devices}" th:value="${device.imei}" th:text="${device.imei + ': ' + device.brand}">Seccción</option>
                    </select>
                    <span class="error-span" th:if="${#fields.hasErrors('device')}" th:errors="*{device}">Dispositivo Erróneo</span>
                </div>
                <div class="fieldcontain" th:classappend="${#fields.hasErrors('assignDate')}? 'has-error'">
                    <label>Fecha de asignación&nbsp;</label><input type="date" name="assignDate" id="assignDate"  th:field="*{assignDate}"/>
                    <span class="error-span" th:if="${#fields.hasErrors('assignDate')}">Fecha errónea</span>
                </div>
            </fieldset>
            <fieldset class="buttons">
                <input type="reset" name="reset" class="delete" value="Limpiar" id="reset"/>
                <input type="submit" name="create" class="save" value="Guardar Asignación" id="create"/>
            </fieldset>
        </form>
    </div>
    <div th:replace="@{fragments/footer} :: footer">&copy; 2017 GPS2Track Application</div>
</body>
</html>