<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <!--/*@thymesVar id="pageTitle" type="String"*/-->
    <title th:text="${pageTitle}">Listado Trabajadores</title>
    <object th:include="@{/fragments/head} :: head" th:remove="tag"/>
</head>
<body>
    <div th:replace="@{/fragments/header} :: header">GPS2Track Application</div>
    <div class="nav" role="navigation">
        <ul>
            <li><a th:href="@{/trabajador/nuevo}" class="create">Nuevo Trabajador</a></li>
        </ul>
    </div>
    <div id="list-trabajador" class="content scaffold-list" role="main">
        <h1>Listado Trabajadores</h1>
        <table>
            <thead>
                <tr>
                    <th class="sortable"><a href="/dispositivo/index?sort=serial&amp;max=10&amp;order=asc">Rut</a></th>
                    <th class="sortable"><a href="/dispositivo/index?sort=marca&amp;max=10&amp;order=asc">Nombres</a></th>
                    <th class="sortable"><a href="/dispositivo/index?sort=modelo&amp;max=10&amp;order=asc">Apellido Paterno</a></th>
                    <th class="sortable"><a href="/dispositivo/index?sort=activo&amp;max=10&amp;order=asc">Apellido Materno</a></th>
                    <th class="sortable"><a href="/dispositivo/index?sort=serial&amp;max=10&amp;order=asc">Fecha de Nacimiento</a></th>
                    <th class="sortable"><a href="/dispositivo/index?sort=serial&amp;max=10&amp;order=asc">Género</a></th>
                    <th class="sortable"><a href="/dispositivo/index?sort=serial&amp;max=10&amp;order=asc">Sección</a></th>
                    <th class="sortable"><a href="/dispositivo/index?sort=serial&amp;max=10&amp;order=asc">Rol</a></th>
                </tr>
            </thead>
            <tbody>

                <!--/*@thymesVar id="employees" type=""*/-->
                <tr th:each="employee,iterStat : ${employees}" th:class="${iterStat.odd}? 'odd'">
                    <td><a th:href="@{'/trabajador/' + ${employee.rut}}" th:text="${employee.getRutFormat()}">Rut</a></td>
                    <td><a th:href="@{'/trabajador/' + ${employee.rut}}" th:text="${employee.names}">Nombres</a></td>
                    <td><a th:href="@{'/trabajador/' + ${employee.rut}}" th:text="${employee.pSurName}">Apellido Paterno</a></td>
                    <td><a th:href="@{'/trabajador/' + ${employee.rut}}" th:text="${employee.mSurName}">Apellido Materno</a></td>
                    <td><a th:href="@{'/trabajador/' + ${employee.rut}}" th:text="${employee.birthDate}">Fecha de Nacimiento</a></td>
                    <td><a th:href="@{'/trabajador/' + ${employee.rut}}" th:text="${employee.getGenreFormat()}">Género</a></td>
                    <td><a th:href="@{'/trabajador/' + ${employee.rut}}" th:text="${employee.section.name}">Sección</a></td>
                    <td><a th:href="@{'/trabajador/' + ${employee.rut}}" th:text="${employee.role}">Rol</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="@{/fragments/footer} :: footer">&copy; 2017 GPS2Track Application</div>
</body>
</html>