<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="footer">
        <div class="footer" role="contentinfo"></div>
        <div id="spinner" class="spinner" style="display:none;">
            Loading&hellip;
        </div>
        <!-- JavaScript -->
        <script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}" type="application/javascript"></script>
        <script th:src="@{/webjars/tablesorter/2.25.4/js/jquery.tablesorter.js}" type="application/javascript"></script>
        <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}" type="application/javascript"></script>
        <script th:src="@{/js/application.js}" type="application/javascript"></script>
    </div>
</body>
</html>