<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation" th:fragment="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="fa grails-icon">
                        <img th:src="@{/images/icon.svg}"/>
                    </i> <b>GPS2Track</b>
                </a>
            </div>
            <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/reportes}">Reportes</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rutas<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mostrar rutas</a></li>
                            <li><a href="#">Rutas críticas</a></li>
                            <li><a href="#">Registro/eliminación de rutas</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locaciones<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mostrar locaciones</a></li>
                            <li><a href="#">Puntos de mayor concurrencia</a></li>
                            <li><a href="#">Registro/eliminación de locaciones</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registro<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/trabajador}">Trabajador</a></li>
                            <li><a th:href="@{/dispositivo}">Dispositivo</a></li>
                            <li><a th:href="@{/asignacion}">Asignaciones</a></li>
                            <li><a href="#">Secciones</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>