<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <!--/*@thymesVar id="pageTitle" type="String"*/-->
    <title th:text="${pageTitle}">Nuevo Dispositivo</title>
    <object th:include="@{fragments/head} :: head" th:remove="tag"/>
</head>
<body>
    <div th:replace="@{fragments/header} :: header">GPS2Track Application</div>
    <div class="nav" role="navigation">
        <ul>
            <li><a th:href="@{/dispositivo}" class="list">Listado Dispositivos</a></li>
        </ul>
    </div>
    <div id="create-dispositivo" class="content scaffold-create" role="main">
        <h1>Nuevo Dispositivo</h1>
        <form class="form-horizontal" th:object="${device}" th:action="@{/dispositivo/save}" method="post">
            <fieldset class="form">
                <input type="hidden" th:field="*{version}"/>
                <div class="fieldcontain" th:classappend="${#fields.hasErrors('imei')}? 'has-error'">
                    <label>IMEI&nbsp;</label><input type="text" name="imei" id="imei" th:field="*{imei}" th:readonly="${readOnly}"/>
                    <span class="error-span" th:if="${#fields.hasErrors('imei')}" th:errors="*{imei}">IMEI Erróneo</span>
                </div>
                <div class="fieldcontain" th:classappend="${#fields.hasErrors('brand')}? 'has-error'">
                    <label>Marca&nbsp;</label><input type="text" name="brand" value="" id="brand" th:field="*{brand}"/>
                    <span class="error-span" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Marca Errónea</span>
                </div>
                <div class="fieldcontain">
                    <label>Modelo&nbsp;</label><input type="text" name="model" value="" id="model" th:field="*{model}"/>
                </div>
                <div class="fieldcontain">
                    <label>Número Serie&nbsp;</label><input type="text" name="serial" value="" id="serial"  th:field="*{serial}"/>
                </div>
            </fieldset>
            <fieldset class="buttons">
                <input type="reset" name="reset" class="delete" value="Limpiar" id="reset"/>
                <input type="submit" name="create" class="save" value="Guardar Dispositivo" id="create"/>
            </fieldset>
        </form>
    </div>
    <div th:replace="@{fragments/footer} :: footer">&copy; 2017 GPS2Track Application</div>
</body>
</html>