<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <!--/*@thymesVar id="pageTitle" type="String"*/-->
    <title th:text="${pageTitle}">Listado Dispositivos</title>
    <object th:include="@{fragments/head} :: head" th:remove="tag"/>
</head>
<body>
    <div th:replace="@{fragments/header} :: header">GPS2Track Application</div>
    <div class="nav" role="navigation">
        <ul>
            <li><a th:href="@{/dispositivo/nuevo}" class="create">Nuevo Dispositivo</a></li>
        </ul>
    </div>
    <div id="list-dispositivo" class="content scaffold-list" role="main">
        <h1>Listado Dispositivos</h1>
        <table class="tablesorter">
            <thead>
                <tr>
                    <th>IMEI</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Serial</th>
                </tr>
            </thead>
            <tbody>
                <!--/*@thymesVar id="devices" type=""*/-->
                <tr th:each="device,iterStat : ${devices}" th:class="${iterStat.odd}? 'odd'">
                    <td><a th:href="@{'/dispositivo/' + ${device.imei}}" th:text="${device.imei}">IMEI</a></td>
                    <td><a th:href="@{'/dispositivo/' + ${device.imei}}" th:text="${device.brand}">Marca</a></td>
                    <td><a th:href="@{'/dispositivo/' + ${device.imei}}" th:text="${device.model}">Modelo</a></td>
                    <td><a th:href="@{'/dispositivo/' + ${device.imei}}" th:text="${device.serial}">Serial</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="@{fragments/footer} :: footer">&copy; 2017 GPS2Track Application</div>
</body>
</html>