<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <!--/*@thymesVar id="pageTitle" type="String"*/-->
    <title th:text="${pageTitle}">Nuevo Dispositivo</title>
    <object th:include="@{fragments/head} :: head" th:remove="tag"/>
</head>
<body>
    <div th:replace="@{fragments/header} :: header">GPS2Track Application</div>
    <div class="nav" role="navigation">
        <ul>
            <li><a th:href="@{/seccion}" class="list">Listado Secciones</a></li>
        </ul>
    </div>
    <div id="create-seccion" class="content scaffold-create" role="main">
        <h1>Nueva Sección</h1>
        <form class="form-horizontal" th:object="${section}" th:action="@{/seccion/save}" method="post">
            <fieldset class="form">
                <input type="hidden" th:field="*{id}"/>
                <div class="fieldcontain">
                    <label>Nombre&nbsp;</label><input type="text" name="name" value="" id="name" th:field="*{name}"/>
                </div>
            </fieldset>
            <fieldset class="buttons">
                <input type="reset" name="reset" class="delete" value="Limpiar" id="reset"/>
                <input type="submit" name="create" class="save" value="Guardar Sección" id="create"/>
            </fieldset>
        </form>
        <!--<form action="/dispositivo/save" method="post">
            <fieldset class="buttons">
                <input type="submit" name="create" class="save" value="Crear" id="create">
            </fieldset>
        </form>-->
    </div>
    <div th:replace="@{fragments/footer} :: footer">&copy; 2017 GPS2Track Application</div>
</body>
</html>

<!-- Ejemplos -->
<!-- Input oculto
input type="hidden" th:field="*{imei}" /-->
<!-- Check box
                <div class="form-group">
                    <label class="col-sm-2 control-label">Active</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" th:field="*{active}"/>
                            </label>
                        </div>
                    </div>
                </div> -->
<!-- Texto grande
                <div class="form-group">
                    <label class="col-sm-2 control-label">Body</label>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="5" th:field="*{body}">body</textarea>
                    </div>
                </div>-->